@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2020-03-17 20:05:43
 * @version $Id$
 */
/* add your CSS here */

/*remove default padding and margin for list*/
.nav__list {
  padding: 0;
  margin: 0;
}

.nav__item {
	/*display block to remove list item style*/
  display: block;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav a {
  /*removes default underling for anchor tag*/
  text-decoration: none;
  /* em is relative to font size so 1.5 times font size
	 also add padding so you can click easily on phone
  */
  padding: 1.5em;
}

/*select and style a link when you mouse over it*/
.nav a:hover {
  text-decoration: underline;
  color: blue;
}



.MainDiv {
	margin: 0 auto 0 auto;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	height: 900px;
	width: 320px;
	padding: 5px;
}

.heading {
	margin: 10px;
	text-align: center;
}

.image {
	/*display block so we can center like a div*/
	display: block;
	width: 300px;
	height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.SubDiv {
	margin: 0 auto 0 auto;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	width: 300px;
	padding: 5px;
}

.fact {
	font-style: italic;
}

.list {
	/*type none to remove bullets*/
	list-style-type: none;
	padding: 0;
}

.list span {
	font-weight: bold;
}







